body {
    background: none !important;
    font-family: "Open Sans", sans-serif;
    color: #4D4D4D;
}

/*.container-fluid {*/
    /*background-color: rgba(0, 0, 0, .5) !important;*/
    /*border: none !important;*/
/*}*/

.container-fluid {
    background-color: dimgrey;
}

.day-square {
    background: white;
    width: 20vh;
    height: 20vh;
    float: left;
    margin: 10px;
    box-shadow: 0px 0px 5px grey;
}

.day-past {
    background: #e8e8ee;
}

.booking_day {
    background-color: greenyellow;
}

.circle {
    border: 5px solid lightgreen;
    width: 90%;
    height: 90%;
    margin: 5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 50%;
    color: lightgreen;
    display: table;
}

.circle div {
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    text-align: center;
    font-family: ;
    -ms-transform: rotate(-17deg); /* IE 9 */
    -webkit-transform: rotate(-17deg); /* Chrome, Safari, Opera */
    transform: rotate(-17deg);
    font-family: 'Handlee', cursive;
}

.circle_red {
    border: 5px solid darkred;
    color: darkred;
}

#edit_flight, #delete_flight, #save_edited_flight, #passengers {
    /*margin-right: 10px;*/
    padding: 10px;
}

/*NAVBAR*/

/*body {*/
    /*background-color: lightgrey;*/
/*}*/

/*.container {*/
    /*background-color: white;*/

/*}*/

/*.page-header#header {*/
    /*background-color: rgb(226, 49, 48);*/
    /*height: 60px;*/
    /*color: white;*/
/*}*/

/*#background-img {*/
    /*/!*background: url('img/map-flights.jpg') no-repeat center center fixed;*!/*/
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
/*}*/
.page-header {
    margin: 0;
    border: none !important;
}


.container-fluid {
    color: white;
    font-family: "Open Sans", sans-serif;
    background-color: rgb(238, 238, 238);
    border: 3px solid rgb(238, 238, 238);
    /*padding-top: 10px;*/
}

.navbar-header, #user_header {
    height: 75px;
}

.navbar-inverse {
    background-color: rgb(238, 238, 238);
    height: 70px;
}

.navbar-nav {
    background-color; red;
}

.form-control {
    padding: 10px;
    height: 46px;
}


#search_flights {
    display: block;
    magin: 0px auto;
    height: 380px;
    padding-top: 30px;
    background: rgba(0, 0, 0, .5);
    width: 40vw;
    margin-left: 30vw;
}

#search_flights label {
    color: white;
}


#search_flights_bg {
    padding: 50px;
    background: url(img/bg.jpg) no-repeat bottom center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*BUTTONS*/

.btn {
    padding: 15px;
}

.btn-primary {
    background-color: #8bc9e3;
}


/*TABLES*/

.table {

    height: 60px;
    color: #333;
}

.table thead tr{
    background-color: lightgrey;
    color: #4D4D4D;
    font-family: "Open Sans", sans-serif;
    /*padding: 0 40px 0 20px;*/
    padding-left: 30px;
    height: 50px;
}


/*MODAL*/

#myModal h3 {
    margin-bottom: 30px;
    margin-top: -10px;
    font-size: 15;
    
}