
<div id="admin_flights_table">
    <div class="container col-md-12">
        <h2>All Flights</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Flight No</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>Price</th>
                <th>Economy Seats</th>
                <th>Business Seats</th>
                <th>Edit Flight</th>

            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>