
<div class="component col-md-6" id="create_flight_form">

    <h3>CREATE FLIGHT</h3>

    <div class="form-group">
        <label for="cities_from">Flight From:</label>
        <select class="form-control" id="cities_from">
        </select>
    </div>

    <div class="form-group">
        <label for="cities_to">Flight To:</label>
        <select class="form-control" id="cities_to">
        </select>
    </div>

    <div class="form-group">
        <label for="flight_no">Flight No:</label>
        <input id="flight_no" type="text" class="form-control" placeholder="Flight No">
    </div>

    <div class="form-group">
        <label for="departure_time">Departure Time:</label>
        <input id="departure_time" type="datetime-local" class="form-control" placeholder="Departure Time" >
    </div>

    <div class="form-group">
        <label for="arrival_time">Arrival Time:</label>
        <input id="arrival_time" type="datetime-local" class="form-control" placeholder="Arrival Time">
    </div>

    <div class="form-group">
        <label for="price">Price:</label>
        <input id="price" type="text" class="form-control" placeholder="Price">
    </div>

    <div class="form-group">
        <label for="economy_seats">Economy Seats:</label>
        <input id="economy_seats" type="text" class="form-control" placeholder="No Economy Seats">
    </div>

    <div class="form-group">
        <label for="business_seats">Business Seats:</label>
        <input id="business_seats" type="text" class="form-control" placeholder="No Business Seats">
    </div>

    <button id="btn_create_flight" class="btn btn-primary">Create Flight</button>

</div>