
<div id="flights_table" class="component">

    <div class="container col-md-12">
        <h2>Flights Table</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Select Flight</th>
                <th>From</th>
                <th>To</th>
                <th>Flight No</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
        <button id="btn_select_flight" class="btn btn-primary col-md-2 col-md-offset-5">Select</button>
    </div>


</div>
