

<!--<div class="container">-->
    <!--<div class="jumbotron">-->
        <!--<h2>BLizz!</h2>-->
        <!--<p>Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile-first projects on the web.</p>-->

        <!-- NAVBAR -->
        <!--<nav class="navbar navbar-inverse">-->
            <!--<div class="container">-->

                <div id="user_header" class="container-fluid">
                    <!--<div class="navbar-header">-->
                    <!--<a class="navbar-brand" href="#">WebSiteName</a>-->
                    <!--</div>-->
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <li id="home_header" data-item="home" class="menu_item active"><a href="#">HOME</a></li>
                            <li id="flights_header" data-item="my_flights" class="menu_item" style="display: none;"><a href="#">MY FLIGHTS</a></li>
                            <li id="settings_header" data-item="settings" class="menu_item" style="display: none;"><a href="#">MY PROFILE</a></li>

                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                            <li id="username_header"></li>
                            <li id="sign_up_header"><a href="#"><span class="glyphicon glyphicon-user"></span><span class="text"> Sign Up </a></li>
                            <li id="login_header" data-button="login"><a href="#"><span class="glyphicon glyphicon-log-in"></span><span class="text"> Login </span></a></li>
                        </ul>
                    </div>
                </div>

                <!--<div class="jumbotron">-->
                <!--</div>-->

            <!--</div>-->
        <!--</nav>-->

    <!--</div>-->

<!--</div>-->


<!-- HEADER-->
<!--<div class="component page-header" id="header">-->
    <!--<h1>Flight Booking System</h1>-->


<!--</div>-->