
<div id="passengers_table" style="display: none; opacity: 0">
    <div class="container col-md-12">
        <h3 style="cursor: pointer" id="btn_back_to_flights"><i class="fa fa-arrow-circle-left"></i> back to All flights</h3>
        <h2>Passenger List</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Cancel Booking</th>

            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>