

<div id="bookings_calendar" class="container">

</div>

<div id="user_bookings_table">
    <div class="container col-md-12">
        <h2>Your Bookings</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Flight No</th>
                <th>Departure Time</th>
                <th>Arrival Time</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>